{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% set navigation = [
        ['chronicle'],
        ['Kronika', path('chronicle_show')],
        [yearInUrl, path('chronicle_list_by_Year', {year: yearInUrl})],
        [chronicleTitle, path('chronicle_create_from_date', {year: yearInUrl})],
        [actionName]
    ]
%}

{% set breadcrumb = TRUE %}
{% block title %}Vytvoriť novú kroniku -{% endblock %}

{% block body %}

    <h1>Pridanie novej kroniky</h1>
    <p>Najprv prosím vyber dátum, kedy sa podujatie uskutočnilo a klikni na "Vytvoriť kroniku".</p>
    {{ form(form) }}
    
{% endblock %}
