{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Vytvoriť novú kroniku -{% endblock %}

{% block body %}

    <h1>Pridanie novej kroniky</h1>
    <p>Najprv prosím vyber dátum, kedy sa podujatie uskutočnilo a klikni na „Vytvoriť kroniku“.</p>
    {{ form(form) }}
    
{% endblock %}
