{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{pageTitle}} - {% endblock %}

{% block body %}
    <h1>{{pageTitle}}</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}
