parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Blog\:\:\$content type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$createdBy type mapping mismatch\: property can contain App\\Entity\\User\|null but database expects App\\Entity\\User\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$publish type mapping mismatch\: property can contain bool\|null but database expects bool\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$section type mapping mismatch\: property can contain App\\Entity\\BlogSection\|null but database expects App\\Entity\\BlogSection\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$slug type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$summary type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\Blog\:\:\$title type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Blog.php

		-
			message: '#^Property App\\Entity\\BlogSection\:\:\$slug type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/BlogSection.php

		-
			message: '#^Property App\\Entity\\BlogSection\:\:\$title type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/BlogSection.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$publish type mapping mismatch\: property can contain bool\|null but database expects bool\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$showDate type mapping mismatch\: property can contain bool\|null but database expects bool\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$startDate type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$title type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\EventChronicle\:\:\$publish type mapping mismatch\: property can contain bool\|null but database expects bool\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/EventChronicle.php

		-
			message: '#^Property App\\Entity\\EventRoute\:\:\$length type mapping mismatch\: property can contain int\|null but database expects int\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/EventRoute.php

		-
			message: '#^Property App\\Entity\\EventRoute\:\:\$title type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/EventRoute.php

		-
			message: '#^Property App\\Entity\\SportType\:\:\$description type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/SportType.php

		-
			message: '#^Property App\\Entity\\SportType\:\:\$shortcut type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/SportType.php

		-
			message: '#^Property App\\Entity\\SportType\:\:\$slug type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/SportType.php

		-
			message: '#^Property App\\Entity\\SportType\:\:\$title type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/SportType.php

		-
			message: '#^Method App\\Entity\\User\:\:setRoles\(\) has parameter \$roles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$roles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Class App\\Form\\BlogSectionType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/BlogSectionType.php

		-
			message: '#^Class App\\Form\\BlogType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/BlogType.php

		-
			message: '#^Class App\\Form\\EventChronicleType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/EventChronicleType.php

		-
			message: '#^Class App\\Form\\EventInvitationType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/EventInvitationType.php

		-
			message: '#^Class App\\Form\\EventRouteType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/EventRouteType.php

		-
			message: '#^Class App\\Form\\EventType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/EventType.php

		-
			message: '#^Class App\\Form\\SetDateType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/SetDateType.php

		-
			message: '#^Class App\\Form\\SportTypeType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/SportTypeType.php

		-
			message: '#^Method App\\Menu\\Builder\:\:addEventsToYears\(\) has parameter \$events with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Menu/Builder.php

		-
			message: '#^Method App\\Menu\\Builder\:\:addEventsToYears\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Menu/Builder.php

		-
			message: '#^Method App\\Menu\\Builder\:\:createMainMenu\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Menu/Builder.php

		-
			message: '#^Method App\\Menu\\Builder\:\:getBlogSections\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Menu/Builder.php

		-
			message: '#^Class App\\Repository\\BlogRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/BlogRepository.php

		-
			message: '#^Class App\\Repository\\BlogRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogRepository.php

		-
			message: '#^Class App\\Repository\\BlogRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogRepository.php

		-
			message: '#^Class App\\Repository\\BlogRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogRepository.php

		-
			message: '#^Class App\\Repository\\BlogRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogRepository.php

		-
			message: '#^Class App\\Repository\\BlogSectionRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/BlogSectionRepository.php

		-
			message: '#^Class App\\Repository\\BlogSectionRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogSectionRepository.php

		-
			message: '#^Class App\\Repository\\BlogSectionRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogSectionRepository.php

		-
			message: '#^Class App\\Repository\\BlogSectionRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogSectionRepository.php

		-
			message: '#^Class App\\Repository\\BlogSectionRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/BlogSectionRepository.php

		-
			message: '#^Class App\\Repository\\EventChronicleRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Class App\\Repository\\EventChronicleRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Class App\\Repository\\EventChronicleRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Class App\\Repository\\EventChronicleRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Class App\\Repository\\EventChronicleRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Method App\\Repository\\EventChronicleRepository\:\:findLatest\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Method App\\Repository\\EventChronicleRepository\:\:findUniqueYears\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Method App\\Repository\\EventChronicleRepository\:\:getUniqueYearsFromDB\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventChronicleRepository.php

		-
			message: '#^Class App\\Repository\\EventInvitationRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Class App\\Repository\\EventInvitationRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Class App\\Repository\\EventInvitationRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Class App\\Repository\\EventInvitationRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Class App\\Repository\\EventInvitationRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Method App\\Repository\\EventInvitationRepository\:\:findLatest\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventInvitationRepository.php

		-
			message: '#^Class App\\Repository\\EventRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Class App\\Repository\\EventRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Class App\\Repository\\EventRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Class App\\Repository\\EventRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Class App\\Repository\\EventRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Method App\\Repository\\EventRepository\:\:getUniqueYearsFromDB\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRepository.php

		-
			message: '#^Class App\\Repository\\EventRouteRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/EventRouteRepository.php

		-
			message: '#^Class App\\Repository\\EventRouteRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRouteRepository.php

		-
			message: '#^Class App\\Repository\\EventRouteRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRouteRepository.php

		-
			message: '#^Class App\\Repository\\EventRouteRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRouteRepository.php

		-
			message: '#^Class App\\Repository\\EventRouteRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/EventRouteRepository.php

		-
			message: '#^Class App\\Repository\\SportTypeRepository extends generic class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Repository/SportTypeRepository.php

		-
			message: '#^Class App\\Repository\\SportTypeRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/SportTypeRepository.php

		-
			message: '#^Class App\\Repository\\SportTypeRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/SportTypeRepository.php

		-
			message: '#^Class App\\Repository\\SportTypeRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/SportTypeRepository.php

		-
			message: '#^Class App\\Repository\\SportTypeRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/SportTypeRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Method App\\Tests\\Controller\\BlogControllerTest\:\:provide302Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\BlogControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\BlogControllerTest\:\:provideAdmin404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\ContactControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/ContactControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventChronicleControllerTest\:\:provide302Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventChronicleControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventChronicleControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventChronicleControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventChronicleControllerTest\:\:provideAdmin404Urls\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventChronicleControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventInvitationControllerTest\:\:provide302Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventInvitationControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventInvitationControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventInvitationControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventInvitationControllerTest\:\:provideAdmin404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventInvitationControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\EventPlanControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/EventPlanControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\GpxControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/GpxControllerTest.php

		-
			message: '#^Method App\\Tests\\Controller\\SecurityControllerTest\:\:provide404Urls\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Controller/SecurityControllerTest.php
