includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    phpVersion: 80500
    reportUnmatchedIgnoredErrors: false

    tmpDir: .phpstan.cache

    paths:
        - ./bin
        - ./config
        - ./public
        - ./src
        - ./tests
    excludePaths:
        - ./config/reference.php (?)

    doctrine:
        objectManagerLoader: tests/object-manager.php

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
