{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Vytvoriť novú pozvánku - {% endblock %}

{% block body %}

    <h1>Pridanie novej pozvánky</h1>
    <p>Najprv prosím vyber dátum, kedy by sa podujatie malo uskutočnilo a klikni na „Vytvoriť pozvánku“.</p>
    {{ form(form) }}
    
{% endblock %}
