{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{invitationTitle}} - {% endblock %}

{% block body %}
    <h1>{{invitationTitle}}</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}
