{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
<h1>Žiaľ, stránku sme nenašli</h1>
<p>Je nám ľúto, ale vami požadovanú stránku nevieme nájsť :(</p>
<p>Vyberte si prosím z menu sekciu, ktorá by vás mohla zaujímať.</p>
<p>Vďaka</p>
{% endblock %}